HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### maven ###
.mvn
mvnw
mvnw.cmd

### target ###
/target/
/unimall-admin-api/target/
/unimall-app-api/target/
/unimall-data/target/
/unimall-core/target/
/unimall-launcher/target/