HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#/build/

### VS Code ###
.vscode/

### Hbuilder ###
.hbuilderx

### maven ###
.mvn
mvnw
mvnw.cmd

###properties###

/unimall-runner/src/main/resources/application.properties
/unimall-runner/src/main/resources/application-dev.properties
/unimall-runner/src/main/resources/application-ops.properties

### target ###
/target/
/unimall-admin-api/target/
/unimall-app-api/target/
/unimall-biz/target/
/unimall-data/target/
/unimall-core/target/
/unimall-runner/target/
/unimall-app/unpackage/
/unimall-admin/dist.zip

###node_modules###
/unimall-admin/node_modules/
/unimall-app/node_modules/


###logs###
unimall.log
unimall.log.*.gz
unimall.log.*.tmp


### plugins ###
/plugins/
/unimall-app/pages/plugins/
/unimall-admin/src/views/plugins/