@use './variables.scss';
@use './mixin.scss';
@use './transition.scss';
@use './element.scss';
@use './sidebar.scss';
@use './btn.scss';
html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", Arial, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
#app {
	height: 100%;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
a:focus,
a:active {
	outline: none;
}
a,
a:focus,
a:hover {
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}
div:focus {
	outline: none;
}
.clearfix {
	&::after {
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		font-size: 0;
		content: " ";
	}
}
.avatar-upload-preview {
	overflow: hidden;
	position: absolute;
	top: 50%;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 4px #ccc;
	transform: translate(50%, -50%);
}
